public/index.html
<!DOCTYPE html><html lang="en"><head><title>Real time web chat</title></head><body><h1>Jade - nodejs real time web chat</h1><div id="content" style="width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;"></div><div class="controls">Name:<input id="name" style="width:350px;"><br><input id="field" style="width:350px;"><input id="send" type="button" value="send"></div><script src="/js/chat.js"></script><script src="http://dev.jade.com:8090/socket.io/socket.io.js">     </script></body></html>

app/assets/templates/index.jade
doctype html
html(lang="en")
  head
    title= "Real time web chat"
  body
    h1 Jade - nodejs real time web chat
    #content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
    .controls
      | Name:
      input#name(style='width:350px;')
      br
      input#field(style='width:350px;')
      input#send(type='button', value='send')
    script(src='/js/chat.js')
    script(src='http://dev.jade.com:8090/socket.io/socket.io.js')      
